*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-image: linear-gradient(to  bottom right, rgba(162, 8, 211, 0.8), rgba(211, 8, 210, 0.8)),
    url(https://blog.ecoit.com.br/content/images/wordpress/2017/07/4-metodos-de-pesquisa-de-satisfacao-de-clientes-1.jpg);
    /* background-image: linear-gradient(to bottom right, purple, pink); */
    clip-path: ellipse(83% 91% at 50% 8%);
    position: relative;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: 10px; */
    z-index: 1;

}

.navbar{
    height:97px;
    line-height: 90px;
    border-bottom: 1px solid black;
}

.main-menu{
    width: min(100%);
    margin-inline: auto;
}
.img-logo{
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-left: 80px;
}
.text-logo{
    margin-top:7px;
    font-weight: 770;
    margin-right: 400px;
}
.menu2{
    text-decoration: none;
    margin: 7px 9px 0 30px; 
    box-sizing: border-box;
    color:black;
    /* padding: 3px; */
}
.menu2 a {
    padding: 10px
}
.sub-menu{
    float:right;
    margin-left:90px;
    margin-top:7px;
}
.text-boxheader{
    text-align: center;
    color:azure;
    padding-top: 120px;
    font-size: 22px;
    
}
.main-text, 
.sub-text{
    letter-spacing: 5px;
    font-weight: 500;
}

.sub-text{
    font-size: smaller;
}
.menu,
.menu1,
.sub-menu,
.navbar,
.logo{
    display: flex;
}
.menu2,
a{
    text-decoration: none;
    list-style-type: none;
    color:black;
}
.btn{
    display:inline-block;
    border-radius: 100px;
    padding: 7px 35px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color:rgb(53, 50, 50);
    margin-top: 50px;
    animation-name: animationbtn;
    animation-duration: 2s;
    animation-delay: .2s;
}

.btn:hover{
    transition: 0.2s;
    transform:translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);
}

.main-text,
.sub-text{
    animation-name: animationtest;
    animation-duration: 2s;
    animation-delay: .2s;
}
@keyframes animationtest {
    0%{
        opacity:0;
        transform:translate(0, -100px)
    }
    80%{
        
        transform:translate(0, -20px)
    }
    100%{
        opacity:1;
        transform:translate(0,0)
    }
}
.menu1 .menu2 a:hover

 {
    color: white;
}
@keyframes animationbtn {
    0%{
        opacity:0;
        transform:translateY(50px)
    }
    80%{
        
        transform:translateY(10px)
    }
    100%{
        opacity:1;
        transform:translate(0,0)
    }
}
/* css for body */
/* body1 */
.body1{
    display: flex;
    margin: 15px 0 0 20px;
    height: 400px;
}
.bgr1-body{
    width: 700px;
    height:auto;
}

.text-btn{
    float: left;
    margin: 50px 0 0 200px;
    line-height: 27px;
}
.sub1-text-body{
    font-family: Brush Script MT;
    font-size: 27px;
    color: rgb(180, 49, 154);
    margin-bottom: 25px;
}
.sub2-text-body{
    color: rgb(68, 115, 157);
    font-family: Perpetua;
    margin-bottom: 25px;
    font-size: 20px;
}
.btn-body{
    justify-content: space-around;
    display: flex;
    box-sizing: border-box;
    
}
.sub-btn{
    margin-right: 40px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    color: rgba(255, 255, 255);
    background-color: aqua;
    padding: 8px 16px;
}

.btn-body-right{
    padding: 0;
    box-sizing: border-box;
}
.sub-btn-right{
    background-color: rgb(248, 174, 137);
    /* forced-color-adjust: white; */
}

.sub-btn a {
    color:white;
}
.btn-body-left:hover{
    transition: 0.5s;
    transform:translateY(-5px);
    
}
.btn-body-right:hover{
    transition: 0.5s;
    transform:translateY(-5px);
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, .1); */

}

/* body2 */


.body2 {
    background-image: linear-gradient( to bottom, rgb(255, 255, 255), rgb(163 163 163));
    background-size: 400% 400%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    /* border-top-left-radius: 50px; */
    /* border-bottom-right-radius:50px ; */
}

.main-text2-body,
.sub-text2-body{
    text-align: center;
    padding-top: 10px;
}
.main-text2-body{
    font-size: 17px;
    color: #ab772a;
    font-family: Brush Script MT;
    padding-top: 20px;
}
.sub-text2-body{
    font-size: 20px;
    color: #13813a;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
/* box-body */
.menubox{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.menubox1:hover,
.menubox2:hover,
.menubox3:hover{
    transition: 0.5s;
    transform:translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);
}

.sub-box{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-bottom:5px;
}
.logo-box{
    width: 400px;
    height:225px;
}
.text-box a {
    text-align: center;
    color:#13813a;
}
.btn2body{
    margin-right: 40px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    color: rgba(255, 255, 255);
    background-color: rgb(201, 129, 209);
    padding: 8px 16px;
    text-align: center;
    width:300px;
    margin:auto;
    margin-top: 20px;
    /* animation-name: animationmenubox2;
    animation-duration: 2s;
    animation-delay: 2s; */
}

.btn2body:hover{
    transition: 0.5s;
    transform:translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .1);
}




/* animation menu box when scroll */
.menubox, 
.btn2body{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .menubox.active,
  .btn2body.active{
    transform: translateY(0);
    opacity: 1;
  }

/* body3 */
.body3{
    background-image: url(https://www.rastventure.com/images/home-page-conver-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    /* background-position-x: 100px; */
    height: 500px;
    width: auto;
    /* margin-top: 5px; */
    position: relative;
    /* border-top-right-radius: 50px; */
    /* border-bottom-left-radius:50px ; */
}
.text-body3{
    /* font-size: 30px; */
    padding: 150px 0 0 140px;
}
.title_text3--body{
    font-family: Brush Script MT;
    font-size: 30px;
}
.main_text3--body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgb(105, 22, 94);
    margin-bottom: 30px;
    font-weight: 750;
}

.sub_text3--body{
    margin-top: 50px;
    font-size: 16px;
    line-height: 25px;
}
.btn-body3{
    margin: 50px 0 0 140px;
    padding: 10px;
    border-radius: 1000px;
    background-color: #f262eb;
    width: 180px;
    text-align: center;
}

.btn-body3:hover{
    transition: 0.5s;
    transform:translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .1);
}

@keyframes animation {
    0%{
        opacity:0;
        transform:translateY(50px)
    }
    80%{
        
        transform:translateY(10px)
    }
    100%{
        opacity:1;
        transform:translate(0,0)
    }
}



/* body4 */
.body4{
    height:500px;
    width:auto;
    overflow: hidden;
}

.text-body4{
    margin-top: 50px;
    text-align: center;
    line-height:45px ;
    height: 50px;

}

.main-text4{
    font-family: Brush Script MT;
    font-weight: 400;
    font-size: 30px;
    color: #f99c55;
}

.sub-text4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #13813a;
    letter-spacing: .5px;
}

.menubox-body4{
    display: flex;
    margin-top: 90px;
    justify-content: space-evenly;
    text-align: center;
}

.logo-box4-4{
    height: 230px;
    width: 270px;
    margin-bottom: 20px;
}
.text-box4-4{
    font-size: 20px;

}

/* footer edit */
.footer{
    background-color: rgb(47, 50, 47);
    clip-path: ellipse(80% 89% at 42% 100%);
    height: 300px;
    width: auto;
    /* z-index: 1; */
}
.main-footer,
.sub-footer{
    color: white;   
}
.main-footer{
    height: 250px;
    bottom: 0;
    display: flex;
    padding-top: 90px ;
    color:rgba(255, 255, 255);
    line-height: 34px;
}

.footer1,
.footer2,
.footer3,
.footer4{
    padding-right: 120px;
}
.ul-menu .ol-menu a{
    color: rgba(255 ,255, 255);
    padding: 4px;
}
.ul-menu .ol-menu a:hover{
    color: rgb(244, 154, 81);
    transition: ease-in .2s;
}

.logo__footer{
    padding: 0 0 30px 100px;
    width: 360px;
    text-align: center;
    font-size: 32px;
    color:rgb(229 246 245);
    line-height: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-letter{
    letter-spacing: 10px;
}
.about-tvt{
    line-height: 30 px;
}
.text-footer{
    padding-left: 70px;
}
.sub-footer{
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 70px;
    width: auto;
    background-color: rgb(34, 37, 34);
}


/* .img-logo-footer{
    height: 100px;
    width: 100px;
    z-index: 2;
    margin-top: 100px;
    margin-left: 100px;
} */


@media only screen and (max-width: 480px){
    .header{
        /* position:absolute; */
        background-image:  linear-gradient(to  bottom right, rgba(162, 8, 211, 0.8), rgba(211, 8, 210, 0.8));
        overflow:hidden;
        width: min(100%-4px);
        z-index: 2;
    }
    .text-logo,
    .bgr1-body,
    .menu-box3 .sub-box{
        display: none;
    }
    .menu1{
        position:absolute;
    }

}
 @media screen and  (max-width: 1024px){
    
 }
